{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block headerimg %}{% if article.headerimg %}{{ article.headerimg }}{% else %}{{ DEFAULT_HEADER_BG }}{% endif %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="./theme/css/icons.css"/>
<link rel="stylesheet" type="text/css" href="./theme/css/pygments.css" />
<link rel="stylesheet" type="text/css" href="./theme/css/main.css" />
<link rel="stylesheet" type="text/css" href="./theme/css/ipynb.css" />
<link rel="stylesheet" type="text/css" href="./theme/css/gif.css" />

{% if 'angular' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
{% endif %}
{% if 'jquery' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<div class="container post">
    <article>
        <header>
            <h1>{{ article.title }}</h1>
            <time datetime="article.date.isoformat()" pubdate>{{ article.locale_date }}</time>
        </header>
        <div class="meta">
            <div>
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="article_content">
            {{ article.content }}
        </div>

    </article>

  {% include '_includes/disqus_thread.html' %}


    <div class="license" >

      <p>
        © 2019-2020 {{ AUTHOR }}
      </p>
    </div>

</div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          
          <a href="mailto:rafael.fuente.herrezuelo@gmail.com"><img src="./theme/svg-icons/email-icon.svg"></img></a>


          <a href="http://github.com/rafael-fuente"><img src="./theme/svg-icons/github-icon.svg"></img></a>


          <a href="https://www.youtube.com/channel/UCgmKhcvQ7Xg0Wjq1OVXTDlQ"><img src="./theme/svg-icons/youtube-icon.svg"></img></a>

        </footer>
      </div>
    </div>    

{% endblock %}
