{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block headerimg %}{% if article.headerimg %}{{ article.headerimg }}{% else %}{{ DEFAULT_HEADER_BG }}{% endif %}{% endblock %}
{% block open_graph %}
        {% if article.description %}
        <meta name="description" content="{{ article.description }}" />
        {% endif %}
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ article.title }}"/>
        {% if article.description %}
        <meta property="og:description" content="{{ article.description }}" />
        {% endif %}
        {% if article.image %}
        <meta property="og:image" content="{{ article.image }}">
        {% endif %}
        <meta name="twitter:title" content="{{ article.title }}">
        {% if article.image %}
        <meta name="twitter:image" content="{{ article.image }}">
        <meta name="twitter:card" content="summary_large_image">
        {% endif %}
{% endblock %}




{% block math_render %}
{% if article.mathjax2 %}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [ ["$","$"], ["\\(","\\)"] ],
                    displayMath: [ ["$$","$$"], ["\\[","\\]"] ],
                    skipTags: ["script","noscript","style","textarea","pre","footer","link"],

                },
                TeX: {
                    // AutoNumbering of displayed formulas
                    equationNumbers: { autoNumber: "AMS" },
                    // All mathjax extensions:
                // http://docs.mathjax.org/en/latest/tex.html#tex-and-latex-extensions
                    // Source code for all extensions:
                // https://github.com/mathjax/MathJax/tree/master/extensions/TeX
                    extensions: [
                    //"color.js", // Color support in LaTeX
                    //"autobold.js", // support for \boldsymbol{...}
                    //"AMSmath.js",
                    //"AMSsymbols.js",
                    //"AMScd.js", // http://www.jmilne.org/not/Mamscd.pdf
                    "bbox.js", // support for \bbox[options]{math}
                    // "begingroup.js", // mainly for formulas localization
                    //"cancel.js" // support for strikethrough formulas
                    // "HTML.js" // works by default
                    // "mhchem.js" // chemical formulas
                    // "uniconde.js" // works by default
                    ]
                }
            });
        </script>
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
{% endif %}

{% if article.mathjax3 %}
        <script>
        MathJax = {
          startup: {
            //
            //  Mapping of old extension names to new ones
            //
            requireMap: {
              AMSmath: 'ams',
              AMSsymbols: 'ams',
              AMScd: 'amscd',
              HTML: 'html',
              noErrors: 'noerrors',
              noUndefined: 'noundefined'
            },
            ready: function () {
              //
              //  Replace the require command map with a new one that checks for
              //    renamed extensions and converts them to the new names.
              //
              var CommandMap = MathJax._.input.tex.SymbolMap.CommandMap;
              var requireMap = MathJax.config.startup.requireMap;
              var RequireLoad = MathJax._.input.tex.require.RequireConfiguration.RequireLoad;
              var RequireMethods = {
                Require: function (parser, name) {
                  var required = parser.GetArgument(name);
                  if (required.match(/[^_a-zA-Z0-9]/) || required === '') {
                    throw new TexError('BadPackageName', 'Argument for %1 is not a valid package name', name);
                  }
                  if (requireMap.hasOwnProperty(required)) {
                    required = requireMap[required];
                  }
                  RequireLoad(parser, required);
                }
              };
              new CommandMap('require', {require: 'Require'}, RequireMethods);
              //
              //  Do the usual startup
              //
              return MathJax.startup.defaultReady();
            }
          },
          tex :{

            inlineMath: [ ["$","$"], ["\\(","\\)"] ],
            displayMath: [ ["$$","$$"], ["\\[","\\]"] ],
            tags: 'ams',


            autoload: {
              color: [],          // don't autoload the color extension
              colorv2: ['color'], // do autoload the colorv2 extension
            }
          }
        };
        </script>
        <script id="MathJax-script" async
         src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endif %}

{% if article.katex %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
            delimiters: [
  {left: "$$", right: "$$", display: true},
  {left: "$", right: "$", display: false},
  {left: "\\(", right: "\\)", display: false},
  {left: "\\[", right: "\\]", display: true},
  {left: "\\begin{equation}", right: "\\end{equation}", display: true}
]
        });
    });
</script>
{% endif %}


{% endblock %}






{% block extra_head %}
<link rel="stylesheet" type="text/css" href="./theme/css/icons.css"/>
<link rel="stylesheet" type="text/css" href="./theme/css/pygments.css" />
<link rel="stylesheet" type="text/css" href="./theme/css/main.css" />
<link rel="stylesheet" type="text/css" href="./theme/css/ipynb.css" />
<link rel="stylesheet" type="text/css" href="./theme/css/gif.css" />

{% if 'angular' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
{% endif %}
{% if 'jquery' in article.include %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endif %}
{% endblock %}



{% block content %}
<div class="container post">
    <article>
        <header>
            <h1>{{ article.title }}</h1>
            <time datetime="article.date.isoformat()" pubdate>{{ article.locale_date }}</time>
        </header>
        <div class="meta">
            <div>
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="article_content">
            {{ article.content }}
        </div>

    </article>

  {% include '_includes/disqus_thread.html' %}


    <div class="license" >

      <p>
        © 2019-2020 {{ AUTHOR }}
      </p>
    </div>

</div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          
          <a href="mailto:rafael.fuente.herrezuelo@gmail.com"><img src="./theme/svg-icons/email-icon.svg"></img></a>


          <a href="http://github.com/rafael-fuente"><img src="./theme/svg-icons/github-icon.svg"></img></a>


          <a href="https://www.youtube.com/channel/UCgmKhcvQ7Xg0Wjq1OVXTDlQ"><img src="./theme/svg-icons/youtube-icon.svg"></img></a>

        </footer>
      </div>
    </div>    

{% endblock %}
