{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block headerimg %}{{ DEFAULT_HEADER_BG }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="./theme/css/icons.css"/>
<link rel="stylesheet" type="text/css" href="./theme/css/pygments.css" />
<link rel="stylesheet" type="text/css" href="./theme/css/main.css" />
<link rel="stylesheet" type="text/css" href="./theme/css/ipynb.css" />

{%endblock%}

{% block content %}




<div class="container index">

  {% for article in articles_page.object_list %}




  <article>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    
    <header>
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <time datetime="article.date.isoformat()" title="{{ article.date.isoformat() }}" pubdate>Last Updated: {{ article.locale_date }}</time>
    </header>

    <div class="article_content">
      {{ article.summary }}
    </div>

    <div class="meta">
      <div>
        <a href="{{ SITEURL }}/{{ article.url }}" class="read_more">Read more &#8594;</a>
      </div>

      <div>
          {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
          {% endfor %}
      </div>

    </div>

  </article>
  <div class="separator"></div>
  {% endfor %}

  <nav class="pagination row">
    <div class="col-xs-6 left">
      {% if articles_page.has_next() %}
        <a class="prev" href="{{ SITEURL }}/{{ articles_next_page.url }}">&#8592; Past</a>
      {% endif %}
    </div>
    <div class="col-xs-6 right">
      {% if articles_page.has_previous() %}
        <a class="next" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Future &#8594;</a>
      {% endif %}
    </div>
  </nav>


    <div class="license" >

      <p>
        © 2019-2021 {{ AUTHOR }}
      </p>
    </div>
  </div>


    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">

          <a href="mailto:rafael.fuente.herrezuelo@gmail.com"><img src="./theme/svg-icons/email-icon.svg"></img></a>


          <a href="http://github.com/rafael-fuente"><img src="./theme/svg-icons/github-icon.svg"></img></a>


          <a href="https://www.youtube.com/channel/UCgmKhcvQ7Xg0Wjq1OVXTDlQ"><img src="./theme/svg-icons/youtube-icon.svg"></img></a>

        </footer>
      </div>
    </div>    



</div>

{% endblock %}
