{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block headerimg %}{{ DEFAULT_HEADER_BG }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="./theme/css/icons.css"/>
<link rel="stylesheet" type="text/css" href="./theme/css/pygments.css" />
<link rel="stylesheet" type="text/css" href="./theme/css/main.css" />
{%endblock%}

{% block content %}




<div class="container index">

  {% for article in articles_page.object_list %}




  <article>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                tex2jax: {
                    inlineMath: [ ["$","$"], ["\\(","\\)"] ],
                    displayMath: [ ["$$","$$"], ["\\[","\\]"] ],
                    processEscapes: true,
                },
                TeX: {
                    // AutoNumbering of displayed formulas
                    equationNumbers: { autoNumber: "AMS" },
                    // All mathjax extensions:
                // http://docs.mathjax.org/en/latest/tex.html#tex-and-latex-extensions
                    // Source code for all extensions:
                // https://github.com/mathjax/MathJax/tree/master/extensions/TeX
                    extensions: [
                    "color.js", // Color support in LaTeX
                    "autobold.js", // support for \boldsymbol{...}
                    "AMSmath.js",
                    "AMSsymbols.js",
                    "AMScd.js", // http://www.jmilne.org/not/Mamscd.pdf
                    "bbox.js", // support for \bbox[options]{math}
                    // "begingroup.js", // mainly for formulas localization
                    "cancel.js" // support for strikethrough formulas
                    // "HTML.js" // works by default
                    // "mhchem.js" // chemical formulas
                    // "uniconde.js" // works by default
                    ]
                }
            });
        </script>
        <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
    
    <header>
      <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
      <!--<<time datetime="" title="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>-->
    </header>

    <div class="article_content">
      {{ article.summary }}
    </div>

    <div class="meta">
      <div>
        <a href="{{ SITEURL }}/{{ article.url }}" class="read_more">Read more &#8594;</a>
      </div>

      <div>
          {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a>
          {% endfor %}
      </div>

    </div>

  </article>
  <div class="separator"></div>
  {% endfor %}

  <nav class="pagination row">
    <div class="col-xs-6 left">
      {% if articles_page.has_next() %}
        <a class="prev" href="{{ SITEURL }}/{{ articles_next_page.url }}">&#8592; Past</a>
      {% endif %}
    </div>
    <div class="col-xs-6 right">
      {% if articles_page.has_previous() %}
        <a class="next" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Future &#8594;</a>
      {% endif %}
    </div>
  </nav>


    <div class="license" >

      <p>
        © 2019-2020 {{ AUTHOR }}
      </p>
    </div>
  </div>


    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">

          <a href="mailto:rafael.fuente.herrezuelo@gmail.com"><img src="./theme/svg-icons/email-icon.svg"></img></a>


          <a href="http://github.com/rafael-fuente"><img src="./theme/svg-icons/github-icon.svg"></img></a>


          <a href="https://www.youtube.com/channel/UCgmKhcvQ7Xg0Wjq1OVXTDlQ"><img src="./theme/svg-icons/youtube-icon.svg"></img></a>

        </footer>
      </div>
    </div>    



</div>

{% endblock %}
